        body{
            background-color: beige;
        }
           div{
            border: 2px solid black;
            background-color: powderblue;
            margin-left: 40%;
            width: 300px;
            border-radius: 5px;
        }

        h1{
            text-align: center;
        }

        p{
            margin-left: 5px;
        }
